@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body, h1, h2, h3, h4, h5, h6 {
  @apply lato-light;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-medium mb-8;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

form {
  @apply max-w-full;
}

.form-group {
  @apply block mb-5;

  input:not([type='checkbox']), select {
    @apply border border-gray-300 block w-full py-1 px-2 rounded;
  }
}

button {
  .loader {
    @apply me-2;
  }

  @apply flex justify-center bg-neutral-400 text-gray-800 border border-gray-800 py-1 px-3 hover:bg-neutral-300 transition-all active:bg-neutral-500 rounded cursor-pointer;
  &.primary {
    @apply bg-blue-600 text-white border-blue-950 hover:bg-blue-800 active:bg-blue-950;
  }
}

a {
  @apply text-gray-900 underline;
}

.alert {
  @apply rounded;

  &.error {
    @apply bg-red-600 text-white px-2 py-2;
  }

  &.success {
    @apply bg-emerald-800 text-white px-2 py-2;
  }

  a {
    @apply text-white;
  }
}

.sidebar {
  @apply w-1/4;
}

.card {
  @apply bg-white rounded p-3 shadow-xl;
}

.menu-item-link {
  @apply my-2 block hover:cursor-pointer;

  a {
    @apply block decoration-0 no-underline;
  }

  ul {
    @apply ms-4;
  }

  span {
    @apply block border border-gray-300 px-2 py-2 rounded hover:bg-blue-100 transition-all;
  }
}

.collapsed {
  @apply max-h-0 opacity-0 overflow-y-hidden transition-all duration-500 ease-in-out;

  &.expanded {
    max-height: 1000px;
    @apply opacity-100;
  }
}

th {
  @apply text-start;
}

.input-error {
  @apply text-red-700 text-xs;
}